.game-board {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cell {
    position: relative;
  }

.cell input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}

.cell input:focus {
    outline: none;
    border-color: #007bff;
 }

 .active {
  background-color:#c9e2ff;
  /* font-family: 'Times New Roman', Times, serif; */
}
.active-tile {
  border-color: #007bff !important;
  background-color: #8bc0fc ;
}
.invalid-cell {
  color: red !important;
}


.initial-value {
  font-weight: bold;
}

.user-value {
  color: #303F9F;
  font-weight: bold;
}
.cell:nth-child(3n+4),
.cell:nth-child(1)
{
    border-left: 2px solid #000;
}
.cell:nth-child(9)
{
    border-right: 2px solid #000;
}

.row:nth-child(3n + 4),
.row:nth-child(1) {
    border-top: 2px solid #000;
  }

.row:nth-child(9) {
    border-bottom: 2px solid #000;
  }

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu button {
    margin: 5px;
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: #e0e0e0;
}

.difficulty-select button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
  background-color: #007bff;
  color: #fff;
}


.difficulty-select {
  width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

.difficulty-select h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.difficulty-select button.active {
  background-color: #007bff;
  color: #fff;
}

.sudoku-board-win, .sudoku-board-lose{
  filter: brightness(0.5);
  transition: filter 0.5s ease-in-out;
}
.win-overlay, .wrong-limit-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.game-over-message {
  filter:opacity(0.8);
  background-color: white;
  width: 292px;
  color: red;
  font-weight: bolder;
}
.game-over-message p {
  width: 300px;
  font-size: 20px;
  /* color:  !important; */
  /* font-weight: bold !important; */
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-label {
  font-size: 18px;
  margin-right: 10px;
}

.timer-value {
  font-size: 18px;
  font-weight: bold;
}


.counters {
  display: flex;  
  align-items: center;
  justify-content: center;
}
.counters p {
  padding-left: 50px;
  font-weight: bold;
  padding-right: 50px;
}
.win-message {
  width:300px;
  color: green;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
 /* Remove the arrows from number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox-specific styles to hide the arrows */
input[type="number"] {
    -moz-appearance: textfield;
  }